{
  "root": true,

  "parser": "babel-eslint",

  "extends": ["vue"],

  "globals": {
    "window": true
  },

  "plugins": ["vue"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures ": {
      "impliedStrict": true
    }
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "rules": {
    "semi":[2,"always"],
    "indent": [2, 4],
    "no-var": 2,
    "space-before-function-paren": [2,"never"]
  }
}
